/**
* ABOUT US
* lead paragraph
*/

.au-Wrapper {
  text-align: center;
  padding: 33px 22px;
  background-color: #ddd;
  @media screen and (min-width: 950px) {
      padding: 66px 22px;
  }
}

.au-Heading {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 22px;
  @media screen and (min-width: 950px) {
      font-size: 48px;
  }
}

.au-Paragraph {
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  @media screen and (min-width: 950px) {
      font-size: 28px;
      line-height: 40px;
  }
}
