.mc-ContentModule {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0;
    @media screen and (min-width: 950px) {
        flex-direction: row;
    }
}

.mc-ContentModule_TextWrapper {
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
    height: 440px;
    @media screen and (min-width: 950px) {
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }
}

.mc-ContentModule_Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    max-width: 510px;
    padding: 22px;
}

.mc-ContentModule_TextHeading {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 22px;
    color: #666;
    @media screen and (min-width: 950px) {
        font-size: 32px;
    }
}

.mc-ContentModule_Text p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 11px;
    color: #333;
    line-height: 1.5;
    @media screen and (min-width: 950px) {
        font-size: 18px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.mc-ContentModule_Text a,
.mc-ContentModule_Text a:visited {
    color: #545454;
    font-weight: 700;
}

.mc-ContentModule_Text a:hover {
    text-decoration: underline;
}

.mc-ContentModule_Image {
    position: relative;
    width: 100%;
    padding-top: 440px;
    background-size: cover;
    filter: grayscale(100%);
    transition: .35s all linear;
    background-position: center center;
    @media screen and (min-width: 950px) {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding-top: 440px;
    }
}

.heyo {
    filter: grayscale(0%);
}

.mc-ContentModule_Image-whoweare {
    display: none;
    @media screen and (min-width: 950px) {
        display: inline-block;
    }
}
