/**
* 1. HEADER and NAVIGATION
*/

.sl-SportsLinkHeaderWrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    padding: 22px;
    background: color(#000 a(0%));
    transition: all .35s;
}


/**
*  add background color to header on scroll
*/
.nav-shadow {
    box-shadow: 0 6px 7px 0 rgba(0,0,0,.16);
    padding: 11px;
    background: #000;
    background: color(#000 a(90%));
}

[data-mobile-nav="visible"] .sl-SportsLinkHeaderWrapper {
    height: 100%;
    background: color(#000 a(90%));
}

.sl-SportsLinkHeader {
    @media (min-width: 950px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.sl-HeaderLogo {
    display: inline-block;
    width: 202px;
    height: 44px;
    background-image: url("../img/sportslink_logo.png");
    background-image: url("../img/sportslink_logo.svg");
    background-repeat: no-repeat;
    background-size: 202px 44px;
    text-indent: -9999px;
    transition: .35s;
    @media screen and (min-width: 768px) {
        width: 303px;
        height: 66px;
        background-size: 303px 66px;
    }
}

.sl-HeaderNavWrapper {
    padding: 11px 0;
    @media (min-width: 950px) {
        float: right;
    }
}

[data-mobile-nav="hidden"] .sl-HeaderNavWrapper {
    display: none;
    @media (min-width: 950px) {
        display: block;
    }
}

[data-mobile-nav="visible"] .sl-HeaderNavWrapper {
    display: block;
}

.sl-HeaderNav {
    display: inline-block;
    vertical-align: middle;
    opacity: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sl-HeaderNavItem {
    margin-top: 22px;
    @media (min-width: 950px) {
        display: inline-block;
        margin-top: 0;
        margin-left: 11px;
    }
}

.sl-HeaderNavItem_Link {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding-bottom: 8px;
    /*line-height: 69px;*/
    border-bottom: 2px solid transparent;
    &:hover {
        border-bottom: 2px solid slategrey;
    }
    @media (min-width: 950px) {
        font-size: 12px;
    }
}

.sl-HeaderNavItem_Link:active,
.sl-HeaderNavItem_Link:focus {
    border-bottom: 2px solid #fff;
}
