/**
* 1. HEADER and NAVIGATION
*/

.header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 22px;
    transition: .35s;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right:after {
    content:" ";
    display:block;
    clear:both;
}

.nav-shadow {
    box-shadow: 0 6px 7px 0 rgba(0,0,0,.16);
    padding: 0.5% 2%;
    background: rgba(0, 0, 0, .9);
}

.nav .left {
    float: left;
}

.left a {
    float: left;
    font-size: 18px;
    display: block;
    position: relative;
    top: 0;
    padding: 0;
    height: auto;
    z-index: 3;
}

.left a img {
    overflow: hidden;
    width: 227.25px;
    height: 49.5px;
    transition: .35s;
    @media screen and (min-width: 768px) {
        width: 303px;
        height: 66px;
    }
}

.nav-shadow .left a img {
    width: 227.25px;
    height: 49.5px;
    @media screen and (min-width: 768px) {
        width: 303px;
        height: 66px;
    }
}

.nav .right {
    float: right;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.sl-Nav {
    display: none;
    opacity: 0;
    transition: .35s all;
    @media screen and (min-width: 950px) {
        display: inline-block;
        vertical-align: middle;
        opacity: 1;
    }
}

.right li a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-left: 11px;
    padding-bottom: 8px;
    /*line-height: 69px;*/
    border-bottom: 2px solid transparent;
    &:hover {
        border-bottom: 2px solid slategrey;
    }
}


.right li a:active,
.right li a:focus {
    border-bottom: 2px solid #fff;
}

@media screen and (min-width: 950px) {
    .right ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .right li {
        display: inline-block;
    }
}
