.wrapper {
  position: relative;
}

.full-height {
  height: 100vh;
}

.full-height {
  height: 100vh;
  background-image: url("../img/swim.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  z-index: 0 !important;
}

@media screen and (min-width: 950px) {
.full-height {
  height: 100vh;
  /*background-image: url("../img/swim.jpg");*/
  background-image: url("../img/PA-photo-2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  z-index: 0 !important;
  }
}

.center-heroWrapper {
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: #FFF;
  position: absolute;
  width: 500px;
  padding-top: 500px;
  background: rgba(0, 0, 0, .6);
  border-radius: 999px;

}

.center-hero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
      align-items: center;
}


h1.header-h1 {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}

h2.header-h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}


.hintarrow {
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  top: auto;
  height: auto;
  text-align: center;
  color: white;
}

.hintarrow a {
  display: inline-block;
  text-align: center;
}

.hintarrow div {
  width: 35px;
  height: 35px;
  font-size: 35px;
}
