@import "normalize.css";
@import "base.css";
@import "header.css";
@import "hamburger.css";
@import "hero-fullscreen.css";
@import "aboutus.css";
@import "submenu.css";

@import "contentmodulewrapper.css";
@import "contentmodule.css";
@import "uploadcv.css";

@import "clienttestimonial.css";

@import "slick.css";
@import "footer.css";
@import "footercopyright.css";

.nav-anchor {
    position: absolute;
    display: block;
    top: -66px;
    left: 0;
    width: 0px;
    height: 0;
    @media screen and (min-width: 950px ) {
        top: -88px;
    }
}
